@font-face {
  font-family: Blacksword;
  src: url('/fonts/Blacksword.otf')
}
@font-face {
  font-family: CaviarDreams_Bold;
  src: url('/fonts/CaviarDreams_Bold.ttf')
}
@font-face {
  font-family: NotoSansCJKjp-Light;
  src: url('/fonts/NotoSansCJKjp-Light.otf')
}
@font-face {
  font-family: NotoSansCJKjp-Regular;
  src: url('/fonts/NotoSansCJKjp-Regular.otf')
}
