@font-face {
  font-family: Blacksword;
  src: url("/fonts/Blacksword.otf"); }

@font-face {
  font-family: CaviarDreams_Bold;
  src: url("/fonts/CaviarDreams_Bold.ttf"); }

@font-face {
  font-family: NotoSansCJKjp-Light;
  src: url("/fonts/NotoSansCJKjp-Light.otf"); }

@font-face {
  font-family: NotoSansCJKjp-Regular;
  src: url("/fonts/NotoSansCJKjp-Regular.otf"); }

@font-face {
  font-family: MyriadPro-Light;
  src: url("/fonts/MyriadPro-Light.ttf"); }

@font-face {
  font-family: MyriadPro-Regular;
  src: url("/fonts/MyriadPro-Regular.otf"); }

html, body {
  height: 100%; }

.pure-g [class*=pure-u] {
  font-family: NotoSansCJKjp-Light, NotoSansCJKjp-Regular, Blacksword, CaviarDreams_Bold, serif; }

body {
  color: #55565A;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: NotoSansCJKjp-Light, NotoSansCJKjp-Regular, Blacksword, CaviarDreams_Bold, serif; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

.img-box img {
  display: block;
  width: 100%; }

* {
  box-sizing: border-box; }

.pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=tel], .pure-form input[type=color], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=text], .pure-form select, .pure-form textarea {
  padding: 13px 18px 13px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px !important; }

.pure-form select {
  padding: 13px 18px 13px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px !important;
  height: 50px; }

.pure-form-aligned .pure-control-group {
  margin-bottom: 30px; }
  .pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
    font-size: 16px; }

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: 16px; }

.pure-form .pure-checkbox, .pure-form .pure-radio {
  font-size: 16px; }

.pure-button {
  font-size: 16px; }

a {
  text-decoration: none; }

.footer {
  height: 300px;
  background: #000000;
  margin-top: 200px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  overflow: hidden; }
  .footer img {
    display: inline-block;
    width: 210px;
    margin-top: 100px; }
  .footer p {
    margin-top: 30px;
    line-height: 2em; }
  @media screen and (max-width: 600px) {
    .footer {
      margin-top: 0; } }

.owl-carousel {
  height: 100%; }
  .owl-carousel .owl-wrapper-outer {
    height: 100%; }
    .owl-carousel .owl-wrapper-outer .owl-wrapper {
      height: 100%; }
      .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
        height: 100%; }
  .owl-carousel .carousel-item {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center; }
  .owl-carousel .owl-controls {
    margin-top: -28px;
    position: absolute;
    top: 50%;
    width: 100%; }
    .owl-carousel .owl-controls .owl-buttons .owl-prev {
      position: absolute;
      width: 28px;
      height: 56px;
      left: 34px;
      top: 0;
      background-image: url("/assets/images/prev@2x.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 0;
      background-color: transparent;
      text-indent: 99999999em; }
    .owl-carousel .owl-controls .owl-buttons .owl-next {
      position: absolute;
      width: 28px;
      height: 56px;
      right: 34px;
      top: 0;
      background-image: url("/assets/images/next@2x.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 0;
      background-color: transparent;
      text-indent: 99999999em; }
    .owl-carousel .owl-controls .owl-pagination {
      display: none; }
    @media screen and (max-width: 600px) {
      .owl-carousel .owl-controls {
        display: none !important; } }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 15px 60px;
  z-index: 1001;
  display: flex;
  transition: all 200ms ease-in-out; }
  nav .logo .mobile {
    display: block; }
  nav .nav-link {
    display: block;
    line-height: 20px;
    padding: 4px 20px;
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    white-space: nowrap; }
  nav .lan {
    width: 100px; }
    nav .lan a {
      display: inline-block;
      margin-left: 10px;
      color: #707070;
      font-size: 14px; }
  nav.transparent {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; }
  nav .menu_btn {
    display: none; }
  nav .close_btn {
    display: none; }
  @media screen and (max-width: 600px) {
    nav .menu_btn {
      display: block;
      position: absolute;
      left: 15px;
      top: 17px;
      height: 12px; }
      nav .menu_btn img {
        display: block;
        height: 11px;
        width: auto; }
    nav .close_btn {
      display: block;
      position: absolute;
      right: 15px;
      top: 8px;
      height: 29px; }
      nav .close_btn img {
        display: block;
        height: 29px;
        width: auto; } }

@media screen and (max-width: 600px) {
  nav {
    height: 45px;
    padding: 5px 70px;
    background: #55565A; }
    nav .logo {
      height: 29px;
      margin-top: 3px;
      width: 100%;
      text-align: center; }
      nav .logo img {
        display: inline-block !important;
        height: 14.5px !important;
        width: auto !important; }
        nav .logo img.pc {
          display: none !important; }
    nav .menu {
      position: fixed;
      width: 100%;
      top: 45px;
      height: calc(100% - 45px);
      left: 0;
      background: #55565A !important; }
      nav .menu ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0); }
        nav .menu ul li {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 24px; }
          nav .menu ul li a {
            font-size: 24px !important;
            color: #fff;
            line-height: 1;
            padding: 30px 20px 20px;
            display: block;
            font-weight: normal;
            border-bottom: 1px solid #fff; }
    nav.menu-show {
      background: #55565A !important; }
      nav.menu-show .menu {
        display: block;
        background: #55565A !important; }
    nav.menu-hide .menu {
      display: none; } }

.logo {
  height: 18px;
  margin: 0; }
  .logo a {
    display: block;
    padding: 0;
    margin: 5px 0;
    height: 100%; }
    .logo a img {
      display: block;
      width: auto;
      height: 100%; }

.menu {
  flex: 1;
  text-align: right; }
  .menu > ul > li {
    position: relative;
    display: inline-block; }
    .menu > ul > li > .nav-link.selected {
      color: #961522;
      border-bottom: 3px solid #961522;
      padding-bottom: 12px; }
    .menu > ul > li.hover > .nav-link, .menu > ul > li.selected > .nav-link {
      border-bottom: 3px solid #961522;
      padding-bottom: 12px;
      color: #961522; }

.scroll nav {
  top: 0;
  background-color: #fff;
  padding: 15px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 600px) {
    .scroll nav {
      top: 0;
      background-color: #55565A;
      padding: 5px 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } }

.ng-pages {
  text-align: center;
  font-size: 0;
  margin: 10px; }
  .ng-pages a, .ng-pages span {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: transparent;
    margin: 0 5px;
    color: #9E7E77;
    border: 1px solid transparent;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer; }
    .ng-pages a:hover, .ng-pages span:hover {
      border: 1px solid #9E7E77;
      color: #9E7E77; }
    .ng-pages a.curr, .ng-pages span.curr {
      border: 1px solid #961522;
      color: #961522; }
  .ng-pages a {
    text-decoration: none;
    font-size: 14px; }
  .ng-pages span {
    font-size: 14px; }

.navigation-tabs {
  display: block;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-align: center; }
  .navigation-tabs li {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    padding: 0; }
    .navigation-tabs li a {
      color: #707070;
      display: block;
      font-weight: bold;
      padding: 5px 2.5em;
      text-decoration: none;
      margin: 0 20px; }
      .navigation-tabs li a:hover {
        border-bottom: 1px solid #707070;
        color: #000;
        display: block; }
    .navigation-tabs li.selected-tab a {
      border-bottom: 1px solid #707070;
      color: #707070;
      display: block; }

.ul-bottom-bdr {
  background: #b9bec1 none repeat scroll 0 0;
  clear: both;
  font-size: 0;
  height: 1px;
  margin: -1px 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: -10; }

.create-plan-replacement {
  padding: 5px; }

.fix-to-top {
  position: fixed;
  right: 30px;
  width: 40px;
  height: 40px;
  bottom: 100px; }
  .fix-to-top img {
    display: block;
    width: 40px;
    height: 40px; }

.inner-banner {
  margin-top: 58px;
  height: 150px; }
  .inner-banner .pure-u-2-5 {
    position: relative; }
    .inner-banner .pure-u-2-5 span.line {
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      border-right: 1px solid #C9C9C9;
      height: 100%; }
  .inner-banner h1 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    line-height: 150px; }
  .inner-banner p {
    font-size: 14px;
    line-height: 24px;
    margin: 55px 0 0 50px; }
  @media screen and (max-width: 600px) {
    .inner-banner {
      display: none; } }

.concept-wrap .banner {
  overflow: hidden;
  margin-top: 100px; }
  .concept-wrap .banner img {
    display: block;
    width: 100%; }
  .concept-wrap .banner p {
    display: none; }
  @media screen and (max-width: 600px) {
    .concept-wrap .banner {
      height: auto;
      position: relative;
      margin-top: 45px; }
      .concept-wrap .banner img {
        width: auto;
        height: 405px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate3d(-50%, 0, 0); }
      .concept-wrap .banner p {
        display: block;
        margin: 450px 0 0;
        font-size: 21px;
        text-align: center;
        line-height: 2; } }

.concept-wrap .top {
  margin-top: 100px;
  height: 660px;
  background: #F6F6F6; }
  .concept-wrap .top .pure-u-2-5 {
    height: 660px;
    position: relative; }
    .concept-wrap .top .pure-u-2-5 img {
      display: block;
      top: 200px;
      right: 0;
      position: absolute; }
  .concept-wrap .top .pure-u-3-5 h2 {
    margin: 250px 0 50px 200px;
    font-size: 28px; }
  .concept-wrap .top .pure-u-3-5 p {
    margin: 50px 0 50px 200px;
    font-size: 16px;
    line-height: 2; }
  @media screen and (max-width: 600px) {
    .concept-wrap .top {
      margin-top: 0;
      background: #FFF;
      height: auto; }
      .concept-wrap .top .pure-u-2-5 {
        width: 100%;
        height: auto; }
        .concept-wrap .top .pure-u-2-5 img {
          width: 90%;
          margin: 50px 5%;
          position: static; }
      .concept-wrap .top .pure-u-3-5 {
        width: 100%; }
        .concept-wrap .top .pure-u-3-5 h2 {
          margin: 50px 20px;
          font-size: 17px;
          text-align: center; }
        .concept-wrap .top .pure-u-3-5 p {
          font-size: 14px;
          line-height: 2;
          text-align: center;
          margin: 50px 20px; } }

.concept-wrap .bottom {
  position: relative;
  height: 500px; }
  .concept-wrap .bottom .pure-u-3-5 {
    position: relative; }
    .concept-wrap .bottom .pure-u-3-5 img {
      position: absolute;
      display: block;
      top: -30px;
      left: 200px; }
  @media screen and (max-width: 600px) {
    .concept-wrap .bottom {
      display: none; }
      .concept-wrap .bottom .pure-u-2-5 {
        display: none; }
      .concept-wrap .bottom .pure-u-3-5 {
        width: 100%; } }

.concept-wrap .interview {
  width: 1080px;
  margin: 200px auto 100px; }
  .concept-wrap .interview .pure-u-1-2 {
    height: 540px;
    background: #FAFAFA; }
    .concept-wrap .interview .pure-u-1-2.mobile {
      display: none; }
    .concept-wrap .interview .pure-u-1-2.pc {
      display: inline-block; }
    .concept-wrap .interview .pure-u-1-2 img {
      display: block;
      width: 540px;
      height: 540px; }
    .concept-wrap .interview .pure-u-1-2 h3 {
      margin: 130px 0 10px 80px;
      line-height: 1;
      font-size: 50px; }
    .concept-wrap .interview .pure-u-1-2 h4 {
      font-size: 20px;
      line-height: 1;
      margin: 10px 0 50px 80px; }
    .concept-wrap .interview .pure-u-1-2 p {
      font-size: 16px;
      line-height: 2.2;
      margin: 50px 0 0 80px; }
  @media screen and (max-width: 600px) {
    .concept-wrap .interview {
      width: 100%;
      margin: 0; }
      .concept-wrap .interview .pure-u-1-2 {
        width: 100%;
        height: auto;
        position: relative;
        padding: 5vw; }
        .concept-wrap .interview .pure-u-1-2 h3 {
          margin: 50px 0 10px;
          text-align: center;
          font-size: 23px; }
        .concept-wrap .interview .pure-u-1-2 h4 {
          font-size: 16px;
          text-align: center;
          margin: 10px 0 30px; }
        .concept-wrap .interview .pure-u-1-2 p {
          font-size: 14px;
          margin: 30px 0 0;
          text-align: center;
          line-height: 2; }
        .concept-wrap .interview .pure-u-1-2.pc {
          display: none; }
        .concept-wrap .interview .pure-u-1-2.mobile {
          display: block; }
        .concept-wrap .interview .pure-u-1-2 img {
          width: 90vw;
          height: 90vw;
          display: block; } }

.concept-wrap .bottom-banner {
  width: 1080px;
  margin: 100px auto; }
  .concept-wrap .bottom-banner img {
    display: block;
    width: 100%;
    height: auto; }
  @media screen and (max-width: 600px) {
    .concept-wrap .bottom-banner {
      display: none; } }

.index-wrap h2 {
  font-family: MyriadPro-Regular;
  font-weight: normal !important; }

.index-wrap .section-title {
  font-family: Myriad Pro; }

.index-wrap .section-product-title {
  font-family: CaviarDreams_Bold; }

.index-wrap #banner {
  background-color: #F6F6F6;
  position: relative;
  text-align: center;
  color: #55565A;
  width: 100%;
  overflow: hidden; }
  .index-wrap #banner .ng-owl {
    height: 100%; }
  .index-wrap #banner .banner-content {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    margin-top: -90px; }
  .index-wrap #banner h1 {
    font-size: 67px;
    margin: 0;
    line-height: 1; }
    @media screen and (max-width: 600px) {
      .index-wrap #banner h1 {
        font-size: 48px; } }
  .index-wrap #banner p {
    font-size: 28px;
    margin: 80px 0 0;
    line-height: 1; }
    @media screen and (max-width: 600px) {
      .index-wrap #banner p {
        margin: 200px 0 0; } }
  .index-wrap #banner .mouse {
    height: 90px;
    position: absolute;
    width: 48px;
    bottom: 20px;
    left: 50%;
    margin-left: -24px;
    z-index: 999; }
    .index-wrap #banner .mouse img {
      display: block;
      height: 90px;
      width: auto; }
    @media screen and (max-width: 600px) {
      .index-wrap #banner .mouse {
        display: none; } }
  .index-wrap #banner .arrow {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity 1s; }
    .index-wrap #banner .arrow img {
      display: block;
      margin-top: 10px; }
    .index-wrap #banner .arrow.arrow-left {
      left: 10px; }
    .index-wrap #banner .arrow.arrow-right {
      right: 10px; }
  .index-wrap #banner:hover .arrow {
    opacity: 1; }

.index-wrap .section {
  position: relative; }

.index-wrap .section-concept {
  padding: 100px 0; }
  .index-wrap .section-concept .concept-box img {
    display: block;
    margin: 0 auto;
    height: 120px;
    width: auto; }
  .index-wrap .section-concept .concept-box p {
    margin: 30px 0 0;
    font-size: 18px; }
  .index-wrap .section-concept .concept-content {
    height: 840px;
    position: relative;
    margin-top: 100px; }
    .index-wrap .section-concept .concept-content .concept-content-text {
      text-align: left;
      position: absolute;
      bottom: 100px; }
      .index-wrap .section-concept .concept-content .concept-content-text h2 {
        font-size: 28px; }
      .index-wrap .section-concept .concept-content .concept-content-text h3 {
        font-size: 28px; }
      .index-wrap .section-concept .concept-content .concept-content-text a.button {
        display: block;
        width: 270px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        border-radius: 30px;
        background: #000000;
        color: #fff;
        text-align: center;
        margin-top: 50px; }
    .index-wrap .section-concept .concept-content .concept-content-img {
      position: absolute;
      width: 570px;
      height: 840px;
      right: 0;
      top: 0; }
      .index-wrap .section-concept .concept-content .concept-content-img img {
        display: block;
        width: 100%;
        height: 100%; }
  @media screen and (max-width: 600px) {
    .index-wrap .section-concept .pure-g {
      display: none; }
    .index-wrap .section-concept .concept-content {
      margin-top: 0; }
      .index-wrap .section-concept .concept-content .concept-content-text {
        position: static;
        text-align: center; }
        .index-wrap .section-concept .concept-content .concept-content-text h2 {
          font-size: 32px;
          line-height: 1;
          margin: 0; }
        .index-wrap .section-concept .concept-content .concept-content-text h3 {
          font-size: 25px;
          line-height: 2;
          margin: 10px 0; }
        .index-wrap .section-concept .concept-content .concept-content-text p {
          line-height: 2;
          margin: 50px 20px; }
        .index-wrap .section-concept .concept-content .concept-content-text a.button {
          margin: 100px auto 120px;
          width: 225px;
          height: 45px;
          line-height: 45px; }
      .index-wrap .section-concept .concept-content .concept-content-img {
        position: static;
        width: 90%;
        margin: 0 auto;
        height: auto; } }

.index-wrap .section-wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center; }
  .index-wrap .section-wrap img {
    display: block;
    width: 450px;
    height: 450px;
    margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .index-wrap .section-wrap img {
      width: 250px;
      height: 250px; } }
  .index-wrap .section-wrap .section-title {
    font-size: 48px;
    line-height: 48px;
    color: #9E7E77;
    padding-bottom: 35px;
    position: relative; }
    .index-wrap .section-wrap .section-title:after {
      content: '';
      position: absolute;
      width: 1em;
      bottom: 0;
      left: 50%;
      margin-left: -0.5em;
      border-bottom: 1px solid #9E7E77; }
  .index-wrap .section-wrap .section-desc {
    font-size: 18px;
    color: #707070;
    margin: 25px 0; }
  .index-wrap .section-wrap .section-content p {
    margin: 10px 0;
    color: #707070; }
  .index-wrap .section-wrap .section-button {
    width: 120px;
    height: 30px;
    display: block;
    margin: 30px auto;
    font-size: 14px;
    background: #9E7E77;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff; }

@media screen and (max-width: 600px) {
  .index-wrap .section-wrap {
    width: 100%; }
    .index-wrap .section-wrap .section-desc {
      font-size: 16px; }
    .index-wrap .section-wrap .section-content {
      padding: 0 30px; }
      .index-wrap .section-wrap .section-content p {
        font-size: 13px;
        margin: 10px 0;
        color: #707070; } }

.index-wrap .section-video {
  height: 750px;
  margin: 150px 0;
  background: #FAFAFA; }
  .index-wrap .section-video .video-box {
    height: 750px;
    position: relative; }
  .index-wrap .section-video .pure-u-3-5 .video-box img {
    overflow-x: hidden;
    position: absolute;
    top: -30px;
    right: 0; }
  .index-wrap .section-video .pure-u-2-5 .video-box {
    text-align: center; }
    .index-wrap .section-video .pure-u-2-5 .video-box img {
      width: 270px;
      height: 390px;
      display: block;
      margin: 50px auto; }
      .index-wrap .section-video .pure-u-2-5 .video-box img.mobile {
        display: none; }
    .index-wrap .section-video .pure-u-2-5 .video-box h2 {
      font-size: 28px; }
    .index-wrap .section-video .pure-u-2-5 .video-box h3 {
      font-size: 28px; }
    .index-wrap .section-video .pure-u-2-5 .video-box p {
      font-size: 16px; }
  @media screen and (max-width: 600px) {
    .index-wrap .section-video {
      background: #fff;
      margin: 150px 0 15px; }
      .index-wrap .section-video .pure-u-3-5 {
        display: none; }
      .index-wrap .section-video .pure-u-2-5 {
        width: 100%; }
        .index-wrap .section-video .pure-u-2-5 .video-box h2 {
          font-size: 32px;
          margin: 70px 0 15px 0;
          line-height: 1; }
        .index-wrap .section-video .pure-u-2-5 .video-box h3 {
          font-size: 25px;
          margin: 15px 0;
          line-height: 1; }
        .index-wrap .section-video .pure-u-2-5 .video-box p {
          line-height: 2;
          font-size: 14px;
          margin: 50px 0 70px; }
        .index-wrap .section-video .pure-u-2-5 .video-box img.pc {
          display: none; }
        .index-wrap .section-video .pure-u-2-5 .video-box img.mobile {
          display: block; } }

.index-wrap .section-catalog {
  padding: 90px 0; }
  .index-wrap .section-catalog .section-catalog-posters {
    margin: 0 80px; }
    .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 {
      color: #55565A; }
      .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 .img-box {
        display: block;
        width: 80%;
        margin: 0 auto; }
        .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 .img-box img {
          display: block;
          width: 100% !important;
          height: auto !important; }
      .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 h3 {
        font-size: 18px;
        text-align: center;
        margin-top: 30px; }
      .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 p {
        line-height: 32px;
        font-size: 16px;
        margin: 25px 10%; }
  @media screen and (max-width: 600px) {
    .index-wrap .section-catalog {
      width: 90%;
      margin: 0 5%;
      padding: 0; }
      .index-wrap .section-catalog .section-catalog-posters {
        margin: 0; }
        .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 {
          width: 100%; }
          .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 .img-box {
            width: 100%; }
          .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 h3 {
            font-size: 25px; }
          .index-wrap .section-catalog .section-catalog-posters .pure-u-1-4 p {
            margin: 15px;
            font-size: 14px;
            text-align: center;
            line-height: 1.6; } }

.index-wrap .section-product {
  margint: 90px 0;
  background: #FAFAFA; }
  .index-wrap .section-product .pure-u-3-5 {
    position: relative;
    overflow: hidden; }
    .index-wrap .section-product .pure-u-3-5 img {
      display: block;
      width: 100%;
      height: 450px; }
  .index-wrap .section-product .pure-u-2-5 {
    height: 450px;
    text-align: center; }
    .index-wrap .section-product .pure-u-2-5 h3 {
      font-size: 28px;
      margin-top: 120px; }
    .index-wrap .section-product .pure-u-2-5 p {
      font-size: 16px; }
    .index-wrap .section-product .pure-u-2-5 img {
      display: inline-block;
      width: 164px;
      height: 44px; }
  @media screen and (max-width: 600px) {
    .index-wrap .section-product {
      margin: 30px 0 0;
      padding: 0 0 100px; }
      .index-wrap .section-product .pure-u-3-5 {
        width: 100%; }
        .index-wrap .section-product .pure-u-3-5 img {
          width: 100%;
          display: block;
          height: auto; }
      .index-wrap .section-product .pure-u-2-5 {
        width: 100%;
        height: auto; }
        .index-wrap .section-product .pure-u-2-5 h3 {
          font-size: 25px;
          margin: 90px 0 15px;
          line-height: 1; }
        .index-wrap .section-product .pure-u-2-5 p {
          font-size: 14px;
          margin: 15px 0 25px; }
        .index-wrap .section-product .pure-u-2-5 img {
          width: 101px;
          height: auto; }
          .index-wrap .section-product .pure-u-2-5 img + p {
            margin: 0; } }

.index-wrap .section-help .section-help-how {
  display: block;
  text-decoration: none;
  max-width: 1200px;
  margin: 90px auto;
  height: 360px;
  text-align: center;
  color: #9E7E77;
  background: #fff;
  position: relative; }
  .index-wrap .section-help .section-help-how h2 {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    font-weight: 300;
    font-size: 48px;
    line-height: 48px; }
  .index-wrap .section-help .section-help-how .arrow-right {
    width: 50px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -25px; }

.index-wrap .section-help .section-help-explore {
  display: block;
  text-decoration: none;
  height: 240px;
  text-align: center;
  width: 100%;
  background: #DDB9B9;
  color: #fff;
  margin-top: 180px; }
  .index-wrap .section-help .section-help-explore h2 {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px; }

.contact-wrap {
  margin: 150px auto;
  width: 900px; }
  .contact-wrap h2 {
    font-size: 24px; }
  .contact-wrap .pure-u-1-5 {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    line-height: 2; }
  .contact-wrap .pure-u-4-5 {
    font-size: 16px;
    padding: 15px 0;
    line-height: 2; }
  .contact-wrap .line {
    height: 1px;
    background: #C9C9C9;
    width: 100%;
    display: block; }
  @media screen and (max-width: 600px) {
    .contact-wrap {
      margin: 0 5vw;
      width: 90vw; }
      .contact-wrap h2 {
        font-size: 14px;
        margin-top: 70px !important; }
      .contact-wrap .pure-g {
        margin-bottom: 70px; }
      .contact-wrap .pure-u-1-5, .contact-wrap .pure-u-4-5 {
        font-size: 12px;
        padding: 10px 0; } }

.inner-banner {
  margin-top: 58px;
  height: 150px; }
  .inner-banner .pure-u-2-5 {
    position: relative; }
    .inner-banner .pure-u-2-5 span.line {
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      border-right: 1px solid #C9C9C9;
      height: 100%; }
  .inner-banner h1 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    line-height: 150px; }
  .inner-banner p {
    line-height: 24px;
    margin: 55px 0 0 50px; }
  .inner-banner.research-banner {
    margin: 45px 0 0 50px; }
  @media screen and (max-width: 600px) {
    .inner-banner {
      display: none; } }

.research-wrap .banner {
  margin-top: 100px; }
  .research-wrap .banner img {
    display: block;
    width: 100%; }
  .research-wrap .banner p {
    display: none; }
  @media screen and (max-width: 600px) {
    .research-wrap .banner {
      height: auto;
      position: relative;
      margin-top: 45px;
      overflow: hidden; }
      .research-wrap .banner img {
        width: auto;
        height: 405px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate3d(-50%, 0, 0); }
      .research-wrap .banner p {
        display: block;
        margin: 450px 0 0;
        font-size: 21px;
        text-align: center;
        line-height: 2; } }

.research-wrap .icons {
  width: 1080px;
  margin: 150px auto 200px; }
  .research-wrap .icons .icon-box {
    text-align: center;
    height: 118px; }
    .research-wrap .icons .icon-box img {
      display: inline-block; }
    .research-wrap .icons .icon-box span {
      font-size: 29px;
      line-height: 34px;
      display: inline-block;
      margin: 25px auto;
      font-weight: bold; }
      @media screen and (max-width: 600px) {
        .research-wrap .icons .icon-box span {
          font-size: 14.5px;
          line-height: 17px;
          margin: 12.5px auto; } }
  @media screen and (max-width: 600px) {
    .research-wrap .icons {
      width: auto;
      margin: 50px 10vw 50px; }
      .research-wrap .icons .pure-u-1-3:nth-child(1) img {
        width: 52.5px !important;
        height: 59px !important; }
      .research-wrap .icons .pure-u-1-3:nth-child(2) img {
        width: 41px !important;
        height: 41px !important;
        margin: 9px auto !important; } }

.research-wrap .interview {
  max-width: 1920px;
  margin: 0 auto; }
  .research-wrap .interview .pure-g {
    margin: 100px 0; }
  .research-wrap .interview h2 {
    font-size: 50px;
    margin: 150px 0 15px 70px;
    line-height: 1; }
  .research-wrap .interview h3 {
    font-size: 18px;
    margin: 15px 0 15px 70px;
    line-height: 1; }
  .research-wrap .interview h4 {
    font-size: 28px;
    margin: 50px 0 50px 70px; }
  .research-wrap .interview span.line {
    width: 100%;
    margin: 50px auto 50px -100px;
    height: 1px;
    display: block;
    border-bottom: 1px solid #000;
    position: relative;
    z-index: 1; }
  .research-wrap .interview .count {
    font-size: 16px;
    margin: 50px 0 50px 70px; }
    .research-wrap .interview .count span {
      display: inline-block;
      vertical-align: text-bottom; }
    .research-wrap .interview .count .num {
      font-size: 36px;
      line-height: 1; }
    .research-wrap .interview .count.mobile {
      display: none; }
  .research-wrap .interview p {
    font-size: 16px;
    line-height: 2;
    margin: 50px 0 0 70px; }
    .research-wrap .interview p img {
      height: 67px;
      display: inline-block; }
    .research-wrap .interview p span {
      display: inline-block;
      line-height: 1;
      position: relative;
      vertical-align: text-bottom;
      margin-bottom: 20px; }
    .research-wrap .interview p + p {
      margin-top: 15px; }
  .research-wrap .interview .content {
    width: 480px;
    position: absolute;
    right: 0;
    top: 0; }
  .research-wrap .interview .mobile {
    display: none; }
  @media screen and (max-width: 600px) {
    .research-wrap .interview {
      max-width: 100%; }
      .research-wrap .interview .pure-u-3-5, .research-wrap .interview .pure-u-2-3, .research-wrap .interview .pure-u-2-5, .research-wrap .interview .pure-u-1-3 {
        width: 100%;
        height: auto !important; }
        .research-wrap .interview .pure-u-3-5 > img, .research-wrap .interview .pure-u-2-3 > img, .research-wrap .interview .pure-u-2-5 > img, .research-wrap .interview .pure-u-1-3 > img {
          display: block !important;
          width: 90vw;
          margin: 0 5vw;
          position: static !important; }
      .research-wrap .interview h2 {
        margin: 50px 0 20px !important;
        font-size: 32px !important;
        text-align: center !important; }
      .research-wrap .interview h3 {
        margin: 20px 0 !important;
        font-size: 14px !important;
        text-align: center !important;
        font-weight: bold !important; }
      .research-wrap .interview h4 {
        font-size: 25px !important;
        margin: 50px 20px !important;
        text-align: center !important; }
      .research-wrap .interview .count {
        margin: 20px 0;
        text-align: center;
        font-size: 14px; }
        .research-wrap .interview .count .num {
          font-size: 34px;
          font-weight: bold; }
        .research-wrap .interview .count .label {
          margin-right: 0; }
        .research-wrap .interview .count.pc {
          display: none; }
        .research-wrap .interview .count.mobile {
          display: block; }
          .research-wrap .interview .count.mobile > div {
            margin: 20px 0; }
      .research-wrap .interview p {
        margin: 50px 0 0;
        font-size: 14px;
        text-align: center;
        line-height: 2.3; }
        .research-wrap .interview p img {
          height: 34px; }
        .research-wrap .interview p span {
          font-size: 13px; }
        .research-wrap .interview p + p {
          margin: 30px 65px 0; }
      .research-wrap .interview .mobile {
        display: block; }
      .research-wrap .interview .pc {
        display: none; }
      .research-wrap .interview .content {
        position: static;
        width: 100%; } }

.article-item-wrap {
  width: 1200px;
  margin: 180px auto; }
  .article-item-wrap .title ul {
    list-style: none;
    border-top: 1px solid #BCBCBC; }
    .article-item-wrap .title ul li {
      border-bottom: 1px solid #BCBCBC;
      font-size: 0; }
      .article-item-wrap .title ul li span {
        display: inline-block;
        line-height: 60px;
        height: 60px;
        white-space: nowrap;
        color: #707070; }
        .article-item-wrap .title ul li span.label {
          padding-left: 35px;
          width: 120px;
          background: #EFEFEF;
          font-size: 14px; }
        .article-item-wrap .title ul li span.value {
          padding-left: 35px;
          font-size: 14px; }
          .article-item-wrap .title ul li span.value .date {
            margin-right: 35px; }
  .article-item-wrap .content {
    margin: 90px auto;
    color: #707070; }
    .article-item-wrap .content p {
      margin: 20px 0; }
    .article-item-wrap .content .big-img {
      width: 100%;
      height: 510px;
      background: #BCBCBC;
      margin: 90px 0; }
    .article-item-wrap .content .small-img {
      width: 600px;
      height: 510px;
      background: #BCBCBC;
      margin: 90px auto; }

.article-banner {
  position: relative; }
  .article-banner img {
    display: block;
    width: 100%; }
  .article-banner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.55); }
  .article-banner h1 {
    font-size: 53px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -40px;
    color: #9E7E77;
    font-family: CaviarDreams_Bold, serif; }

.ng-page {
  margin: 90px 0; }

.article-list-wrap {
  width: 1200px;
  margin: 180px auto 90px; }
  .article-list-wrap .article-item {
    background: #fff;
    height: 330px;
    padding-left: 570px;
    position: relative;
    margin: 30px 0; }
    .article-list-wrap .article-item .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #9E7E77;
      opacity: 0.22;
      display: none; }
    .article-list-wrap .article-item .article-img {
      width: 570px;
      height: 330px;
      position: absolute;
      top: 0;
      left: 0; }
      .article-list-wrap .article-item .article-img img {
        display: block;
        width: 100%;
        height: 100%; }
    .article-list-wrap .article-item .article-content {
      overflow: hidden; }
      .article-list-wrap .article-item .article-content .article-content-date {
        margin: 90px auto 15px 80px;
        font-size: 12px;
        color: #707070; }
      .article-list-wrap .article-item .article-content .article-content-title {
        font-size: 30px;
        color: #9E7E77;
        margin: 15px 0 0 80px;
        font-weight: bold; }
      .article-list-wrap .article-item .article-content .article-content-desc {
        font-size: 18px;
        color: #707070;
        margin: -5px auto 0 80px; }
      .article-list-wrap .article-item .article-content p {
        margin: 25px 50px 15px 80px;
        font-size: 14px;
        line-height: 22px;
        color: #707070; }
      .article-list-wrap .article-item .article-content .arrow-right {
        width: 50px;
        margin: 0 auto 0 80px; }
    .article-list-wrap .article-item:hover .overlay {
      display: block; }

.product-banner p {
  margin: 35px 0 0 50px;
  width: 400px; }
  .product-banner p a, .product-banner p span {
    display: inline-block;
    border: 1px solid #707070;
    border-radius: 2px;
    line-height: 13px;
    height: 17px;
    padding: 0 10px;
    font-size: 10px;
    margin: 7px 10px 7px 0;
    text-decoration: none;
    color: #55565A; }
    .product-banner p a.label, .product-banner p span.label {
      display: block;
      margin-bottom: 15px;
      border: none;
      padding: 0;
      font-size: 12px; }

.product-wrap .product-list {
  width: 1280px;
  margin: 100px auto; }
  .product-wrap .product-list .product-box {
    margin-bottom: 100px;
    text-decoration: none;
    color: #55565A; }
    .product-wrap .product-list .product-box .img-box {
      width: 300px;
      height: 480px;
      margin: 0 auto; }
      .product-wrap .product-list .product-box .img-box img {
        display: block; }
    .product-wrap .product-list .product-box .text-box {
      width: 300px;
      overflow: hidden;
      margin: 0 auto; }
      .product-wrap .product-list .product-box .text-box h3 {
        font-size: 18px;
        margin: 30px 0 40px; }

@media screen and (max-width: 600px) {
  .product-wrap .product-list {
    width: 100%; }
    .product-wrap .product-list .pure-u-1-3 {
      width: 100%; }
      .product-wrap .product-list .pure-u-1-3 .img-box {
        width: 90%;
        height: auto; }
      .product-wrap .product-list .pure-u-1-3 .text-box h3 {
        font-size: 25px;
        text-align: center;
        margin: 25px 0 20px; }
      .product-wrap .product-list .pure-u-1-3 .text-box p {
        text-align: center; } }

.product-item-banner p {
  margin: 55px 0 0 50px; }

.product-item-wrap {
  margin: 40px 0 0 0; }
  .product-item-wrap .banner img {
    display: block;
    width: 100%; }
  .product-item-wrap .detail {
    width: 1280px;
    margin: 100px auto; }
    .product-item-wrap .detail img {
      display: block;
      width: 100% !important;
      height: auto !important; }
    .product-item-wrap .detail.mobile {
      display: none; }
  @media screen and (max-width: 600px) {
    .product-item-wrap {
      margin: 45px 0 0 0; }
      .product-item-wrap .detail {
        width: 100%; }
        .product-item-wrap .detail img {
          display: block;
          width: 100% !important; }
        .product-item-wrap .detail.pc {
          display: none; }
        .product-item-wrap .detail.mobile {
          display: block; } }
