@import "../../../../sass/variables";

.product-item-banner {
  p {
    margin: 55px 0 0 50px;
  }
}

.product-item-wrap {
  margin: 40px 0 0 0;

  .banner {

    img {
      display: block;
      width: 100%;
    }
  }

  .detail {
    width: 1280px;
    margin: 100px auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
