@import "../../../../sass/variables";

.product-item-banner {
  p {
    margin: 55px 0 0 50px;
  }
}

.product-item-wrap {
  margin: 40px 0 0 0;

  .banner {
    height: 750px;
    background: #FAFAFA;

    img {
      display: block;
      width: auto;
      margin: 0 auto;
      height: 100%;
    }
  }

  .detail {
    width: 1280px;
    margin: 0 auto 100px;

    img {
      display: block;
      width: 100% !important;
      height: auto !important;
    }

    &.mobile {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 45px 0 0 0;
    .banner {
      height: calc(100vh - 45px);
      background: #FAFAFA;

      img {
        display: block;
        width: auto;
        margin: 0 auto;
        height: 100%;
      }
    }
    .detail {
      width: 100%;

      img {
        display: block;
        width: 100% !important;
      }

      &.pc {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }
}
