@import "../../../sass/variables";

.owl-carousel {
  height: 100%;

  .owl-wrapper-outer {
    height: 100%;

    .owl-wrapper {
      height: 100%;

      .owl-item {
        height: 100%;
      }
    }
  }

  .carousel-item {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .owl-buttons {
  }

  .owl-controls {
    margin-top: -28px;
    position: absolute;
    top: 50%;
    width: 100%;

    .owl-buttons {
      .owl-prev {
        position: absolute;
        width: 28px;
        height: 56px;
        left: 34px;
        top: 0;
        background-image: url("/assets/images/prev@2x.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0;
        background-color: transparent;
        text-indent: 99999999em;
      }

      .owl-next {
        position: absolute;
        width: 28px;
        height: 56px;
        right: 34px;
        top: 0;
        background-image: url("/assets/images/next@2x.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 0;
        background-color: transparent;
        text-indent: 99999999em;
      }
    }

    .owl-pagination {
      display: none;
    }

    @media screen and (max-width: 600px) {
      display: none !important;
    }
  }
}
